body {
  background-color: rgb(20, 19, 19);
/*   overflow: hidden; */
  font-family: "Arial","Helvetica","Helvetica Neue","Verdana","sans-serif";
}

button{
  font-size:1em;
  position: relative;
  align-items: center;
}

#AllButtons{
}

.wrapperbuttons > div{
  font-size: 40px; /* PADDING????? */
  height: 100vh;
  display: grid;


  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 19, 19);
  transition: 0.8s all;
}

#GameName{
  text-align:center;
}

#AllGames{
  display: grid;
  justify-content: center;
  align-items: center;
  border: none;
}

#MenuBtn{
  width: 400px;
  display: block;
  margin: 0 auto;
}

#AllGames > * {
  background-color: #2DAEBF;
  line-height: 1;
  color: #FFFFFF !important;
  padding: 8px 15px 9px;
  font-size:45px;
  height:60px;
  width: 450px;
  margin: 20px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

#AllGames > *:hover, *:focus {
  box-shadow: 0 0 9px #2DAEBF;
  }

  
.wrapperGame {
 display: none;
  /* height: 100vh; */
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* background-color: rgb(20, 19, 19); */
  /* transition: 0.8s all; */
}



#GameInput{
  font-size: 40px; /* PADDING????? */
  width: 50%;
  display: flex;
  justify-content: center;
  transition: 0.8s all;
  position: relative;
  margin-left: 25%;
  font-weight: normal;
}

#Game-output-input{
}

#OutputTitle{
  display: inline-block;
  text-align: left;
}

#MessageValue{
  display: inline-block;
}


.GameElements{
  width:400px;
}

h1,h3 {
  color: #fff;
  font-weight: normal;
}

pre {
  font-size:20px;
  color:white
}

p{
 color: white;
}

/* RAINBOW */
/* html { */
/*   min-height:100%; */
/*   background:  */
/*    linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%)  */
/*    0 0/100% 200%; */
/*    animation: a 2s linear infinite; */
/* } */
/**/
/* @keyframes a { */
/*   to {background-position:0 -200%} */
/* } */

/* button { */
/* 	background-color: #fff; */
/* 	border: 0; */
/* 	border-radius: 5px; */
/* 	color: #000; */
/* 	cursor: pointer; */
/* 	font-family: inherit; */
/* 	font-weight: bold; */
/* 	font-size: 2em; */
/* 	mix-blend-mode: screen; */
/* 	display: block; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* 	padding: 0.4em 0.8em; */
/* } */
